body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #bde0ff;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

form {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
}

input[type="text"],
textarea,
select,
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  background-color: #f9f9f9;
  color: #555;
  font-size: 16px;
}

input[type="text"]:focus,
textarea:focus,
select:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
  background-color: #f2f2f2;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #3e8e41;
}